<section>
   <label class="attribName">
       <h3>{{localize "faserip.attributes.fighting"}}</h3>
   </label>
   <div class="attribRank">
        <input name="data.fighting" type="number" value="{{data.data.fighting}}" data-dtype="Number" />
    </div>
    <label class="attribName">
       <h3>{{localize "faserip.attributes.agility"}}</h3>
   </label>
   <div class="attribRank">
        <input name="data.agility" type="number" value="{{data.data.agility}}" data-dtype="Number" />
    </div>
    <label class="attribName">
       <h3>{{localize "faserip.attributes.strength"}}</h3>
   </label>
   <div class="attribRank">
        <input name="data.strength" type="number" value="{{data.data.strength}}" data-dtype="Number" />
    </div>
    <label class="attribName">
       <h3>{{localize "faserip.attributes.endurance"}}</h3>
   </label>
   <div class="attribRank">
        <input name="data.endurance" type="number" value="{{data.data.endurance}}" data-dtype="Number" />
    </div>
    <label class="attribName">
       <h3>{{localize "faserip.attributes.reason"}}</h3>
   </label>
   <div class="attribRank">
        <input name="data.reason" type="number" value="{{data.data.reason}}" data-dtype="Number" />
    </div>
    <label class="attribName">
       <h3>{{localize "faserip.attributes.intuition"}}</h3>
   </label>
   <div class="attribRank">
        <input name="data.intuition" type="number" value="{{data.data.intuition}}" data-dtype="Number" />
    </div>
    <label class="attribName">
       <h3>{{localize "faserip.attributes.psyche"}}</h3>
   </label>
   <div class="attribRank">
        <input name="data.psyche" type="number" value="{{data.data.psyche}}" data-dtype="Number" />
    </div>
</section>