<div class="weapon-card">
    <div class="weapon-info weapon-name">
        <p>{{name}}</p>
    </div>
    <div class="weapon-info weapon-stats">
        <p>
            {{data.data.range}}/{{data.data.price}}/{{data.data.damage}}/{{data.data.type}}/{{data.data.rate}}/{{data.data.shots}}/{{data.data.material}}da
        </p>
    </div>
</div>