<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
   <div class="sheet-content">
     <table>
       <tr>
         <th>{{localize "faserip.weapon.range"}}</th>
         <th>{{localize "faserip.weapon.price"}}</th>
         <th>{{localize "faserip.weapon.damage"}}</th>
         <th>{{localize "faserip.weapon.type"}}</th>
         <th>{{localize "faserip.weapon.rate"}}</th>
         <th>{{localize "faserip.weapon.shots"}}</th>
         <th>{{localize "faserip.weapon.material"}}</th>
       </tr>
       <td>
         <input name="data.range" type="number" value="{{data.data.range}}" data-dtype="Number" />
       </td>
       <td>
        <input name="data.price" type="number" value="{{data.data.price}}" data-dtype="Number" />
      </td>
      <td>
        <input name="data.damage" type="number" value="{{data.data.damage}}" data-dtype="Number" />
      </td>
      <td>
        <select name="data.attackTypes">
          {{#select data.data.attackTypes }}
          {{#each config.attackTypes as |name type| }}
          <option value="{{type}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </td>
      <td>
        <input name="data.rate" type="number" value="{{data.data.rate}}" data-dtype="Number" />
      </td>
      <td>
        <input name="data.shots" type="number" value="{{data.data.shots}}" data-dtype="Number" />
      </td>
      <td>
        <input name="data.material" type="number" value="{{data.data.material}}" data-dtype="Number" />
      </td>
     </table>
     {{editor content=data.data.description target="data.data.description" button=true owner=owner editable=editable}}
   </div>
</form>
